html {
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 
 body {
     font-size: 16px;         
     margin: 0;
     font-family: 'Times New Roman', Times, serif;
 }
 


 div {
     position: absolute;
     bottom: 0;
     left: 0;
     padding-left: 2em;
     padding-bottom: 2em;
 }
 
 .lebenslauf {
     position: relative;
     max-width: 75%; 
     margin-top: 10%;
 }
 
 span {
     text-decoration: underline;
 }
 
 .overlay {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     color: white;
     background:url('murus.jpeg')black;
     transition: opacity 500ms;
     visibility: hidden;
     opacity: 0;
     z-index: 8;
   }
 .overlay:target {
   visibility: visible;
   opacity: 1;
 }
 
 
 div {
     padding-top: 1em;
     padding-bottom: 1em;
 }
 
 ul {
     margin: 0;
     list-style: none;
 }
 
 .sisu {
     text-align: center;
 }
 /*laptop*/
 
 @media only screen and (min-width: 768px) {
     body {
         font-size: 32px;
     }
 }
 
 /*desktop*/
 
 @media only screen and (min-width: 1440px) {
     body {
         font-size: 64px;
     }
         
     header {
         padding-bottom: 0.1em;
     }
 }
 
 
 
 